Django>=3.2.4,<3.3
djangorestframework>=3.12.4,<3.13
flake8>=3.9.2,<3.10 # Required for code syntax
psycopg2>=2.8.6,<2.9 # Required for database
drf-spectacular>=0.22.1,<0.23 # Required for swagger GUI
Pillow>=8.2.0,<8.3.0 # Required for image uploading
uwsgi>=2.0.19,<2.1 # Required for app deployment
